# WARNING: Won't work from within Docker unless you mount /var/log
# Logstash config for ingesting the Mac sys-log into Elasticsearch
#

input {
  file {
    path => "/var/log/system.log"
    codec => multiline {
      pattern => "^\s"
      what => "previous"
    }
  }
}

filter {
  grok {
    match => {
      "message" => "%{MONTH:month} +%{MONTHDAY:day} %{TIME:time} %{HOSTNAME:hostname} +(?<program>[^\[]+)"
    }
  }
}


output {
  elasticsearch {
    manage_template => false
    hosts => ["localhost"]
  }

#  stdout { codec => json }
}

