# Logstash config for ingesting Childcare_Centres.csv

input { stdin { } }

filter {

  csv {
    autodetect_column_names => true
  }

# name,lat,lon,contact_ph,url,ref,location, geocode{lat, lon}

  mutate {
    add_field => { "[geocode][lat]" => "%{[lat]}" }
    add_field => { "[geocode][lon]" => "%{[lon]}" }
  }
}

# output { stdout { codec => json } }

output {
  elasticsearch {
    manage_template => true
    template_overwrite => true
    template => "${TEMPLATE_PATH}"
    hosts => ["${ELASTICSEARCH_URL}"]
    index => "${INDEX}"
  }
}
